
//zplin色彩规范/Color

$font-large: 15px;
$font-middle: 13px;
$font-small: 12px;
$font-larger: 20px;
//重要
$base-active-color: #32c081; //主色调，大面积使用，用于按钮、链接等
$base-hover-color: #5bcd9a;//hover状态

$base-nav-color:#2b5e7f;//主色调，大面积使用，用于按钮、链接等
//次要
$base-title-color: #35495e;//重要文字，标题等
$barely-content-color: #5d6d7e;//表格内容、文字等
$base-assist-color: #8ba4af;//辅助色，小面积使用
$base-assist-line-color: #cbdae1;//辅助色，分割线、小面积使用
$base-border-color: #dee9eb;//辅助色，用于边框等
$btn-group-background: #e4f2ec;//辅助色，用于功能条等
$base-background: #e4f2ec;//背景色
//辅助
$base-link-status:#0099ff;//用于链接
$base-warning:#ff9933;//警告色、特殊状态
$waring-icon: #ff9933;
$base-error:#ff5967;//错误提示、特殊状态
$barely-red: #ff5967;
$base-other-status:#bd10e0;//其它特殊状态
$base-disabled-color:#d7dbdf;//禁用状态

$disabled-color: #b8bbbf;
$table-column-color: #cbdbe1;
$dialog-header-color: #efefef;
$base-active-background: #e1f6ec;
$disabled-gray: #c4c8cc;
$waring-border: #ffd6ad;
$waring-background: #fff0e1;
$green2:#f5fcf8;

//renlinfei
$stock-background:#f1f6f5;
$stock-senior-background:#fefefe;

$money-background:#f5fcf8;

